<div class="footer">
    <br />
    <br />
    <hr />
     Copyright &copy; 刘万林 2017 |
    <a href="http://www.liuwanlin.tk" target="_self">www.liuwanlin.tk</a>
    <br>
    <!-- Place this tag where you want the button to render. -->
    <a class="github-button" href="https://github.com/BlueSky335/bluesky335.github.io" data-style="mega" data-count-href="/BlueSky335/bluesky335.github.io/stargazers" data-count-api="/repos/BlueSky335/bluesky335.github.io#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star BlueSky335/bluesky335.github.io on GitHub">Star</a>
    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <br />
    <br />
</div>
