<div class="footer">
    <a target="_blank" href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=juzi__v95fe9vbvO6OH24_-n4qDt4eM" style="text-decoration:none;border-radius:10px;"><img style="border-radius:3px;margin-bottom: 19px;" src="http://rescdn.qqmail.com/zh_CN/htmledition/images/function/qm_open/ico_mailme_02.png"/></a>
    <!-- Place this tag where you want the button to render. -->
    &nbsp;&nbsp;<a class="github-button" href="https://github.com/BlueSky335/bluesky335.github.io" data-style="mega" data-count-href="/BlueSky335/bluesky335.github.io/stargazers" data-count-api="/repos/BlueSky335/bluesky335.github.io#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star BlueSky335/bluesky335.github.io on GitHub">Star</a>
    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <br />
    Copyright &copy; 刘万林 2017 |
    <a href="http://www.liuwanlin.cn" target="_self">www.liuwanlin.cn</a>
    <hr style="height:1px;width:100%;" color="#dddddd" />
    This blog is
    <p>Hosted by <a href="https://pages.coding.me" style="font-weight: bold">Coding Pages</a></p>
</div>
