<head>
    <meta charset="utf-8" />
    <meta name="google-site-verification" content="U2w2gKoBagDlIwY0fWwZMut7f0PaYI20pl7Mbb0uhX0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <!--  Bootstrap 核心 CSS 文件 -->
    <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet" />
    <!--  Bootstrap 核心 JavaScriptÓ 文件 -->
    <script src="//cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.js"></script>
    <script src="{{site.url}}/js/default.js"></script>
    <link rel="stylesheet" href="{{site.url}}/css/default.css" />
    <link href="{{site.url}}/css/styles/atelier-dune-light.css" rel="stylesheet" />
    <script src="{{site.url}}/js/highlight.pack.js"></script>
    <!-- markdown.css -->
    <link href="{{site.url}}/css/markdown.css" rel="stylesheet" />
    <script >hljs.initHighlightingOnLoad();</script>
    <title>
        {% if page.title %}
          {{ page.title }} - 
        {% endif %}
        {{site.title}}
    </title>
</head>
