<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "zh-cn" }}">
    {% include head.html %}
    <script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>

    <body>
        <!--header-begin -->
        {% include header.html %}
        <!-- header-end -->
        <main class="container">
        {{ content }}
        </main>
        <!--footer-brgin -->
        {% include footer.html %}
        <!-- footer-end -->
    </body>

</html>
