---
layout: default
---
<div class="container">
    {{ content }}
</div>
    <ul class="bsk-post-list">
        {% for post in site.posts %}
        <li>
            <a href="{{ post.url | relative_url }}">
                <div class="bsk-post-item">
                    <h2 class="bsk-title">{{ post.title | escape }}</h2>
                    <h4><span class="bsk-tag">tags</span></h4>
                    <h6>{{ post.date | date: "%b %-d, %Y" }}</h6>
                    <div class="bsk-post-preview">
                        文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要
                    </div>
                </div>
            </a>
        </li>
        {% endfor %}
    </ul>
<div class="container">
    <div class="row">
        <div class="col-xs-2">
            <a href="{{ paginator.previous_page_path }}">上一页</a>
        </div>
        <div class="col-xs-8">
            {{ paginator.page }}/{{ paginator.total_pages }}
        </div>
        <div class="col-xs-2">
            <a href="{{ paginator.next_page_path }}">下一页</a>
        </div>
    </div>
</div>
