---
layout: default
---
<!--
title:
sub_title:
cover_filter:
cover_image:
cover_color:
 -->
<h5 style="text-align:center;color:#aaa;line-height:30px;font-weight:300;">
    <div class="bsk-left-block">
        <div class="bsk-left-block">
            {{ page.date | date: "%Y - %-m - %-d" }}
        </div>
        <div class="clearfix visible-xs" ></div>
        <div class="bsk-left-block">
            &nbsp;分类:
        </div>
        {% for categorie in page.categories%}
            <span class="bsk-tag"><span class="glyphicon glyphicon-paperclip"></span> {{categorie}} </span> &nbsp;
        {% endfor %}
    </div>

    <div class="bsk-left-block">
        <div class="bsk-left-block">
            &nbsp;标签:
        </div>
        {% for tag in page.tags%}
         <span class="bsk-tag"><span class="glyphicon glyphicon-tag"></span> {{tag}} </span> &nbsp;
        {% endfor %}
    </div>
</h5>
<div class="clearfix"></div>
<hr/>
<article class="article">
    <div class="markdown-body">
        {{ content }}
    </div>
</article>
<div style="text-align:center;color:#aaa;font-size:20px;">-------  The End  -------</div>
<div >
    <img src="/img/alipay.png" id="bsk-pay-code-img"/>
</div>
<div style="text-align:center;"><a href="javascript:void(0);" id="bsk-pay" ><img src="/img/lolipop.png" style="width:30px;height:30px;margin-right:10px;"/>请博主吃棒棒糖</a></div>
<br />
<div>
{% if page.next %}
    <h4>上一篇：<a href="{{page.next.url}}">{{page.next.title}}&nbsp;&nbsp;
        {%if page.next.sub_title %}
        <span style="font-size:16px;font-weight:300;"> {{page.next.sub_title}} </span>
        {% endif %}
     </a></h4>
{% endif %}
{% if page.previous %}
    <h4>下一篇：<a href="{{page.previous.url}}">{{page.previous.title}}&nbsp;&nbsp;
        {%if page.previous.sub_title %}
            <span style="font-size:16px;font-weight:300;">{{page.previous.sub_title}}</span>
        {% endif %}
    </a></h4>
{% endif %}

 </div>
<!-- 评论 BEGIN -->
<!-- 畅言 BEGIN-->
<!--PC和WAP自适应版-->
<div id="SOHUCS" ></div> 
<script type="text/javascript"> 
(function(){ 
var appid = 'cytbTl3BL'; 
var conf = 'prod_0ea394cacf402d1bca38f96052a19a8e'; 
var width = window.innerWidth || document.documentElement.clientWidth; 
if (width < 960) { 
window.document.write('<script id="changyan_mobile_js" charset="utf-8" type="text/javascript" src="https://changyan.sohu.com/upload/mobile/wap-js/changyan_mobile.js?client_id=' + appid + '&conf=' + conf + '"><\/script>'); } else { var loadJs=function(d,a){var c=document.getElementsByTagName("head")[0]||document.head||document.documentElement;var b=document.createElement("script");b.setAttribute("type","text/javascript");b.setAttribute("charset","UTF-8");b.setAttribute("src",d);if(typeof a==="function"){if(window.attachEvent){b.onreadystatechange=function(){var e=b.readyState;if(e==="loaded"||e==="complete"){b.onreadystatechange=null;a()}}}else{b.onload=a}}c.appendChild(b)};loadJs("https://changyan.sohu.com/upload/changyan.js",function(){window.changyan.api.config({appid:appid,conf:conf})}); } })();
 </script>
<style>
    
    
</style>
<!-- 畅言 ENF -->
<!-- 友言评论 BEGIN -->
<!-- <div id="uyan_frame"></div>
<script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=2128557"></script> -->
<!-- 友言评论 END -->

<!-- 评论 END -->
