---
layout: default
---
<!--
title:
sub_title:
cover_filter:
cover_image:
cover_color:
 -->
<h5 style="text-align:center;color:#aaa;line-height:30px;font-weight:300;">
    <div class="bsk-left-block">
        <div class="bsk-left-block">
            {{ page.date | date: "%Y - %-m - %-d" }}
        </div>
        <div class="clearfix visible-xs" ></div>
        <div class="bsk-left-block">
            &nbsp;分类:
        </div>
        {% for categorie in page.categories%}
            <span class="bsk-tag"><span class="glyphicon glyphicon-paperclip"></span> {{categorie}} </span> &nbsp;
        {% endfor %}
    </div>

    <div class="bsk-left-block">
        <div class="bsk-left-block">
            &nbsp;标签:
        </div>
        {% for tag in page.tags%}
         <span class="bsk-tag"><span class="glyphicon glyphicon-tag"></span> {{tag}} </span> &nbsp;
        {% endfor %}
    </div>
</h5>
<div class="clearfix"></div>
<hr/>
{{ content }}
<div style="text-align:center;color:#aaa;font-size:20px;">-------  The End  -------</div>
<br />
<div>
{% if page.next %}
    <h4>上一篇：<a href="{{page.next.url}}">{{page.next.title}}&nbsp;&nbsp;
        {%if page.next.sub_title %}
        <span style="font-size:16px;font-weight:300;"> {{page.next.sub_title}} </span>
        {% endif %}
     </a></h4>
{% endif %}
{% if page.previous %}
    <h4>下一篇：<a href="{{page.previous.url}}">{{page.previous.title}}&nbsp;&nbsp;
        {%if page.previous.sub_title %}
            <span style="font-size:16px;font-weight:300;">{{page.previous.sub_title}}</span>
        {% endif %}
    </a></h4>
{% endif %}

 </div>
<!-- 评论 BEGIN -->
<!-- 网易云跟帖 -->
<div id="cloud-tie-wrapper" class="cloud-tie-wrapper"></div>
<script>
  var cloudTieConfig = {
    url: document.location.href,
    sourceId: "",
    productKey: "78923860403d453283f85548115ae712",
    target: "cloud-tie-wrapper"
  };
</script>
<script src="https://img1.cache.netease.com/f2e/tie/yun/sdk/loader.js"></script>

<!-- 友言评论 BEGIN -->
<!-- <div id="uyan_frame"></div>
<script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=2128557"></script> -->
<!-- 友言评论 END -->

<!-- 评论 END -->
